@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    font-family: "Nunito Sans", sans-serif;
}

:root {
    --praimary--color: rgb(67 97 238);
    --body-color--: #fafafa;
    --grey-color: #e8eaee;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex-wrap{
    flex-wrap: wrap;
}

body{
    background-color: #fafafa;
}

.justify-between {
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.mt-10{
    margin-top: 15px;
}

.align-center {
    align-items: center;

}
.gap-20{
    gap: 20px;
}
.gap {
    gap: 10px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

*[class*="col-"]{
    padding: 0px 12px;
}

header {
    background-color: white;
    --tw-shadow: 5px 0 25px 0 #5e5c9a1a;
    --tw-shadow-colored: 5px 0 25px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    padding: 10px 20px;

}

.logo-name {
    color: #0e1726;
    margin: 0px 0px 0px 6px;
    font-size: 24px;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
}

.logo img {
    width: 30px;
    margin-left: 5px;
}

.side-bar {
    font-size: 20px;
    display: block;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.side-bar-icon {
    font-size: 20px;
    display: block;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.side-bar-icon:hover {
    background-color: #eff0f2;
}

aside {
    background-color: white;
    width: 260px;
    height: 100vh;
    --tw-shadow: 5px 0 25px 0 #5e5c9a1a;
    --tw-shadow-colored: 5px 0 25px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px 16px;
    display: block;
}

.side-bar:hover {
    color: rgb(67, 97, 238, );
}

.main-content {
    margin-left: 260px;
    transition: all 0.3s linear;
}

.menu-bar {
    font-size: 20px;
}

.menu-bar-icon {
    font-size: 20px;
    display: block;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.menu-bar-icon:hover {
    background-color: #eff0f2;
}

.main-logo {

    color: #0e1726;
    margin: 0px 0px 0px 6px;
    font-size: 24px;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
    margin-left: 7px;
}

.hidden {
    display: none;
}

.left-m-100 {
    left: -100%;
}

.m-0 {
    margin-left: 0 !important;
}

header {
    padding: 10px 20px;
    background-color: #ffffff;
}

.main-nav {
    width: 100%;
    justify-content: space-between;
}

.main-nav ul li {
    font-size: 20px;
    cursor: pointer;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e6ed66;
}

.main-nav ul li:hover {
    color: rgb(67 97 238);
}

.header-img img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

input {
    border: none;
}

.search {
    border: 1px solid grey;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

aside{
    transition: 0.3s all linear;
}

.aside-nav-content{
    height: calc(100vh - 64px);
    padding-inline: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll-btn {
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: .25rem;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    border-radius: .375rem;
    font-size: 14px;
    cursor: pointer;
}
.scroll-btn span{
    font-size: 14.5px;
    color: rgb(14 23 38);
}
.aside-nav-content button {
    padding: 10px;
}

.active {
    background-color:#ebebeb;
}

.menu-name-2 {
    font-size: 14px;
    align-items: center;
}

.nav-list{
    display: none;
}

.nav-list li {
    width: 100%;
    padding: .625rem 2.25rem;
    cursor: pointer;
    font-size: 14px;
    color: #6B7280;
    position: relative;
}
.nav-list li::after{
    position: absolute;
    content: '';
    width: 10px;
    height: 2px;
    background-color:#8d939e;
    left:6%;
    top: 47%;
}
.nav-list li:hover{
    color: var(--praimary--color);
}
.nav-list li:hover::after{
    background-color: var(--praimary--color);
}
.menu-name-2{
    font-size: 14.5px;
    font-weight: 800;
    padding:.75rem 1.75rem;
    text-transform: uppercase;
    margin: 2px -16px 0px;
    
}
.chat svg{
    color: #0e172680;
}
.apps-list .chat span{
    padding: .625rem;
    margin-bottom: .25rem;
    align-items: center;
}
.apps-list .chat span{
    padding-inline-start: 12px;
    font-size: 14.5px;
    color:#352d26;
    font-weight: 600;
}


.aside-nav-content::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#h{
   margin-bottom: 10px;
   margin-top: 12px; 
   padding-left: 12px;
}
#h:first-child a{
    margin-right: 7px;
}

#h:last-child span{
    font-size: 14PX;
    margin-left: px;
    color: #60a5f4;
}
#dash{
    color: #60a5f4;
    font-size: 14px;
}
#sales{
    font-size: 14px;
    margin-left: 5px;
}
.revenue {
    margin-bottom: 24px;
    background-color: white;
    padding: 20px;
    border-radius: .375rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 1.25rem;
    --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.revenue h5{
    margin-bottom: 20px;
    font-size: 18px;
}
#total-profit{
    font-size: 18px;
    color: var(--color-write);
    color: #0e1726;
    font-weight: 500;
}
#total-profit span{
    padding-left: 10px;
    color: var(--color-primary);
}
.dots{
    font-size: 14px;
    color: #0e1726b3;
    width: 20px;
    height: 20px;
}
.dots:hover{
    color: #60a5f4;
}
.catagory{
    margin-bottom: 24px;
    background-color: white;
    padding: 20px;
    height:450px;


    border-radius: .375rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 1.25rem;
    --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.catagory h5{
    font-size: 18px;
    margin-bottom: 20px;
  
}
.daily-sales{
    margin-bottom: 20px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: .375rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 1.25rem;
    --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.gold-svg{
    background-color: #ffeccb;
    color: #e2a03f;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paragraph{
    font-size: 14px;
    color: #888Ea8;
}
.daily-sales h5{
    font-size: 18px;
    color: var(--color-write);
    font-weight: 600;
}
.li{
    font-size: 14px;
    color: #0e1726;
}
.green-svg{
    background-color: #a6e3c9;
    color: #00ab55;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

  
.graph{
    width: 100%;
    position: relative;
    margin-right: 24px;
    background-color: white;
    padding: 20px;
    border-radius: .375rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 1.25rem;
    --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.text-1{
    font-size: 30px;
    font-weight: 600;
    line-height: 2rem;
    text-align: right;  
}
.paragraph-2{
    font-size: 17px;
    font-weight: 600;
    color: #888EA8;
    
}
.mb-2{
    margin-bottom: 30px;
}

.summary-content{
    font-size: 17px;
    color: #888EA8;
    margin-bottom: 32px;
}


.Activites{
    font-size: 20px;
    margin: 0px 0px 20px;
    color: #0E1726;
}  

.icon{
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebe4f7;
    border-radius: 50%;
    color: #805dca;
}
.flex-1{
    flex-grow: 1;
    
}



.line-out .bg-gradient-to-r{
    height: 10px;
    width: 100%;
    background-color: #eaeaec;
    border-radius: 30px;
    position: relative;
}
.line-out .bg-gradient-to-r:before{
    content: '';
    position: absolute;
    height: 100%;
    width: 90%;
    --tw-gradient-from: #7579ff;
    --tw-gradient-to: #b224ef;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    border-radius: 30px;
}
.line-out2 .bg-gradient-to-r2{
    height: 10px;
    width: 100%;
    background-color: #eaeaec;
    border-radius: 30px;
    position: relative;
}
.line-out2 .bg-gradient-to-r2:before{
    content: '';
    position: absolute;
    height: 100%;
    width: 65%;
    border-radius: 30px;
    --tw-gradient-from: #3cba92;
    --tw-gradient-to: #3cba92d3;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
.line-out3 .bg-gradient-to-r3{
    height: 10px;
    width: 100%;
    background-color: #eaeaec;
    border-radius: 30px;
    position: relative;
}
.line-out3 .bg-gradient-to-r3:before{
    content: '';
    position: absolute;
    height: 100%;
    width: 80%;
    border-radius: 30px;
    --tw-gradient-from: #f09819;
    --tw-gradient-to: #f0a030;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.summary-icon{
    margin-bottom: 20px;
    margin-right: 10px;   
}
.summary-heading{
    margin-bottom: 20px;
}
.total-class{
    width: 90%;
    position: absolute;
}
.activities {
    box-shadow: 0px 0px 4px -2px rgba(65, 65, 65, 0.75);
  
    background-color: white;
    padding: 20px;
    border-radius: 7px;
    height: 440px;
}
.head-5{
    font-size: 18px;
    margin-bottom: 20px;
    color: #0E1726;
}
.fz{
    font-size: 14px;
   
   
}
.mb-5{
    margin-bottom: 15px;
}
.dot{
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: blue;
    margin-right: 5px;
    
}
.dot-2{
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: rgb(58, 179, 58);
    margin-right: 5px;  
}
.dot-3{
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: rgb(204, 40, 40);
    margin-right: 5px;  
}
.dot-4{
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: #0e1726;
    margin-right: 5px;  
}
.dot-5{
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: goldenrod;
    margin-right: 5px;  
}
.dot-6{
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color:rgb(12, 148, 202) ;
    margin-right: 5px;  
}
.dot-7{
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: rgb(61, 14, 61);
    margin-right: 5px;  
}
.dot-8{
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: rgb(22, 22, 133);
    margin-right: 5px;  
}
.dot-9{
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color:  #21b66d;;
    margin-right: 5px;  
}
.transactions{
    box-shadow: 0px 0px 4px -2px rgba(65, 65, 65, 0.75);
    background-color: white;
    padding: 20px;
    border-radius: 7px;
    
}
.transaction-1{
    margin-bottom: 10px; 
}
.p{
    color: #4c5650;
    font-size: 14px;
}
.head-2{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.recent{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}
.recent:hover{
    color: #3784dd;

}
.shanu-p {
    flex-grow: 1;
    margin-right: 20px;
}
.head-4{
   font-size:14px;
   color: #0E1726;
}
.paragraph-2{
    font-size: 12px;
    color: #8d939e;
}

.shanu-park{
    font-size: 16px;
    line-height: 20px;
    color: #21b66d;
    background-color:  rgb(221 245 240);
    width: 36px;
    height: 36px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    
}
.c{
    color: #21b66d;
    text-align: center;
   
}
.transaction-list li{
    gap: 10px;
    flex-direction: row;
   margin-top: 1.5rem;
    
}
.shanu-park1{
    font-size: 16px;
    line-height: 20px;
    background-color: #ffeccb;
    color: #e2a03f;
    width: 36px;
    height: 36px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
   
}
.c2{
    color: #e75157;
    text-align: center;
  
}
.shanu-park2{
    font-size: 16px;
    line-height: 20px;
    background-color: #fff5f5;
    color: #e7515a;
    width: 36px;
    height: 36px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
   
}
.shanu-park3 {
    color: #805dca;
    font-size: 16px;
    line-height: 20px;
    background-color: #ebe4f7;
    width: 36px;
    height: 36px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
 
}
.shanu-park4 {
    color: #7498f3;
    font-size: 16px;
    line-height: 20px;
    background-color: #e7f7ff;
    width: 36px;
    height: 36px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  
}
.shanu-park5 {
    color: #4361ee;
    font-size: 16px;
    line-height: 20px;
    background-color: #eaf1ff;
    width: 36px;
    height: 36px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    
}

.trans-1{
    
    text-align: center;
    margin-right: 10px;
}
.wallet-balance {
   
    box-shadow: 0px 0px 4px -2px rgba(65, 65, 65, 0.75);
    background-color: white;
    border-radius: 7px;
    margin-bottom: 10px;
}
.bg{
    padding: 20px;
    background: rgb(33, 33, 208);
    background: linear-gradient(90deg, rgba(33, 33, 208, 1) 53%, rgba(7, 5, 73, 1) 100%);
    width: 100%;
    height: 180px;
    border-radius: 7px 7px 0 0;
   
}

.font-s{     
    font-size: 12px; 
    color: white; 
    font-weight: 500; 
    margin-left: 5px;
}
.image-btn{
    background-color: #223279;
    padding: 4px 10px 4px 0;
    border-radius: 30px;
}
.alan{
    width: 100%;
}
.plus-btn {
    font-size: 10px;
    border-radius: 5px;
    border: 0;
    background-color: #0E1726;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.p-2 {
    font-size: 20px;
    color: white;

}

.h5 {
    color: white;
    font-size: 25px;
}
.div-box{
    background-color: rgb(229, 224, 224); 
    margin-top: -2rem; 
    text-align: center; 
    border-radius: 10px; 
    height: 24px;
    width: 60px;
}
.box-mb{
    margin-bottom: 20px;
}
.white-box {
    padding: 10px 16px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 4px -1px rgba(65, 65, 65, 0.75);
}
.p-relative{
    position: relative !important;
}
.floating-card{
    top: 120px;
    left: 30%;
}
.price-btn button{
    padding: 4px 20px;
    border: none;
    border-radius: 5px;
}
.float-card-info{
    margin-bottom: 16px;
}
.bg-alan-content{
    padding: 20px;
    margin-top: 25px;
}
.pending-btn{
    margin-bottom: 30px;

}
.pending-btn button{
    padding: 6px 16px;
    border: none;
    border-radius: 30px;
    background-color: #1b2e4b;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    
}
.pending-btn button::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #fff;
    top: 13px;
    left: 8px;
    border-radius: 50%;
}
.netflix{
    margin-bottom: 6px;
}
.alan-info{
    margin-bottom: 20px;
}
.footer-btn{
    display: flex;
    justify-content: center;
    gap:10px;
    margin-bottom: 19px;
}
.footer-btn button{
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.footer-btn button:first-child{
    background-color: #805dca;
}
.footer-btn button:nth-child(2){
    background-color:#00ab55 ;
}
.mb-10{
    margin-bottom: 10px;
}

.cust-table{
    --tw-shadow: 5px 0 25px 0 #5e5c9a1a;
    --tw-shadow-colored: 5px 0 25px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    padding: 20px;
    border-radius: 10px;
   
}
.sell-table{
    --tw-shadow: 5px 0 25px 0 #5e5c9a1a;
    --tw-shadow-colored: 5px 0 25px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    padding: 20px;
    border-radius: 10px;
}
.product-table{
    margin-top: 15px;
}
.recent-order{
    font-size: 14px;
    color: #0E1726;
    margin-left: 20px;
    
}
thead tr td{
  padding: 15px 0;
}
.recent-order td{
    font-weight: 700;
    
}
.recent-img img{
    border-radius: 10px;
}
.recent-head{
    color: #4316EE;
    font-size: 14px;
}
.paragraph-3{
    color: #888EA8;
    font-size: 14px;
}
.paragraph-3:hover{
    color: black;
   
}
.recent-nike{
    color: #2196F3;
    font-size: 14px;
}
.recent-sun{
    font-size: 14px;
    color: #e2a03f;
}
.recent-sport{
    font-size: 14px;
    color: #e75157;
}
.recent-speak{
    font-size: 14px;
    color: #805dca;
}
.t-body{
    margin-bottom: 20px;
}


.paid{
    font-size: 12px;
    color: #fff;
    background-color: #00ab55;
    margin: 4px 0px;
    padding: 2px 5px;
    border-radius: 5px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shipped{
    font-size: 12px;
    color: #fff;
    background-color:#805dca;
    margin: 4px 0px;
    padding: 2px 5px;
    border-radius: 5px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.direct{
    font-size: 14px;
    color: #e7515a;
}
.google{
    font-size: 14px;
    color: #49c19b;
}
.email{
    font-size: 14px;
    color: #b581ca;
}
.referral{
    color: #3784dd;
    font-size: 14px;
}
.ads{
    color: #e9b66b;
    font-size: 14px;
}
p-2 {
    padding: .5rem;
}
.bg-\[\#fafafa\] {
    --tw-bg-opacity: 1;
    background-color: rgb(250 250 250 / var(--tw-bg-opacity));
}
.rounded-full {
    border-radius: 9999px;
}
.animate-pulse {
    animation: pulse 2s cubic-bezier(.4,0,.6,1) infinite;
}
.btn-outline-primary {
    --tw-border-opacity: 1;
    border-color: rgb(67 97 238 / var(--tw-border-opacity));
    --tw-text-opacity: 1;
    color: rgb(67 97 238 / var(--tw-text-opacity));
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.btn, .btn:hover {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    height: 24px;
    width: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-width: 1px;
    padding: .5rem 1.25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600;
    --tw-shadow: 0 10px 20px -10px;
    --tw-shadow-colored: 0 10px 20px -10px var(--tw-shadow-color);
    outline: 2px solid #0000;
    outline-offset: 2px;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
    
    

}
.overflow{
    overflow: auto;
}
table{
    white-space: nowrap;
}
